@import "~bootstrap/scss/bootstrap.scss";

.card{
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.card-header{

    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    
}

input{
    border: none;

    
}

input[type=text]{
    width: 395px;
    padding: 5px;
}

input:focus{
    outline: none;

}

