@import "~bootstrap/scss/bootstrap.scss";

.card{
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.card-header{

    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}

input{
    border: none;
    padding-bottom: 5px;

    
}

input[type=text]{
    width: 390px;
    padding: 5px;
    margin-left: 5px;
}

input:focus{
    outline: none;

}

.delete-button{
    background-color: white;
    border: none;
    float: right;
    display: none;
    
}

.delete-button:active{

    outline: none;
    float: right;
}

ul:hover .delete-button {
    display: block;
}

.deleteAll{

    float: right;
    border: none;
    background-color:rgba(250, 31, 31, 0.877);
    color: white;
    border-radius: 10%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


